<?php
// Setup file - default slack_setup.php

define('ROOT_DIR', dirname(__FILE__));

$DEBUG = 1;
$LOGFILE = "logger.txt";
$VERIFICATION_TOKEN = "XXXXXXXXXXXXXXXXXXX";
$API_TOKEN = "xxxx-xxxxxxxxx-xxxx";
$SLACKBOT_URL = 'https://hooks.slack.com/services/XXXXXXXXX/XXXXXXXXX/XXXXXXXXXXXXXXXXXXX';
$LIBRARY_DIR = ROOT_DIR.'/library';

require_once $LIBRARY_DIR.'/slack_functions.php';